// Place all the styles related to the evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  margin-top: 30px;
  color: #2a99a9;
}
.col-sm-3 {
  font-size: 20px;
  font-weight: bold;
  color: #2a99a9;
}

hr {
  border-width: 4px;
  border-color: #2a99a9;
}

h1{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.field-label{
  display:inline-flex;
}
.comment{
  
}
.pie-form{
  margin: 30px 0px;
}